
MODEL_MISTRAL_PATH=./models/mistral_7b_instruct_v02
MODEL_SDXL_PATH=./models/sdxl_base_1_0
CONTROLNET_LINEART_PATH=./models/controlnet_lineart_sdxl
PROFE_AYUDA_INDEX=./config/profe_ayuda_index.pkl
DEVICE=auto
